{% extends 'index.html' %} {%block body%}
<h1>Convertidor de Videos</h1>
{%if dato%}
<!--Descargar a mp4-->
<section class="convert">
  <h2>{{dato.title}}</h2>
  <img src="{{dato.url}}" alt="">
  <p>Visualizaciones : {{dato.views}} M</p>
  <p>Duración: {{dato.duration}} s</p>
  <div>
    <!--Descargar video-->
    <p>Descargar video</p>
    <a href="/json" download><button>Descargar .mp4</button></a>
    <!--Descargar audio-->
    <p>Descargar audio</p>
    <a href="/json_mp3" download><button>Descargar .mp3</button></a>
  </div>
</section>
{%else%}
<!--Convertir link-->
<form method="post">
  <section class="contenedor_mp3" id="contenedor">
    <label for="link">Convertir url a Audio</label>
    <input name="link" id="link" type="text" />
    <button>Convertir Link</button>
  </section>
</form>
{% endif %} {% endblock %}
