<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>Convertidor de Videos XD</h1>
    <form  method="post">
        <label for="video">Convertir vídeo</label>
        <input  name="video"  id="video" type="text" >
        <button class="v_mp4-boton">Descargar</button>
    </form>

</body>
</html>